body {
    background-color: #E5E5E5;
}

.content {
    margin-top: 30px;
    padding: 20px 15px;
    background: #FCFCFC;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.content-title{
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    color: #424242;
}

.navbar-default {
    border-radius: 0px;
    background: linear-gradient(90deg, #2BCA4E 0%, #08B42E 100%);
    border-color: transparent;
    height: 70px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    font-family: Rancho;
    color: #FFFFFF;
    font-size: 38px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
}

.badge {
    position: absolute;
    top: 5px;
    right: 4px;
    background-color: red;
}

.navbar-devider {
    margin-top: 7.5px;
    border-left: 1.5px solid white;
    height: 35px;
}

.step-row {
    height: 60px;
    background-color: #F7F1F1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-tabs{
    border: none !important;
}

.footer {
    border-radius: 0px;
    background: linear-gradient(90deg, #2BCA4E 0%, #08B42E 100%);
    border-color: transparent;
    height: 70px;
    padding-top: 7px;
    margin-bottom: 0px;
}